a{
    color:white;
    text-decoration: none;
    margin-left: 20px;
    text-align: center;
    @media screen and (max-width:768px){
        
    }
}
hr{
    color:white;
    margin-top: 70px;
}
span{
    color:white;
    justify-content: center;
    text-align: center;
}