a{
    color:white;
    text-decoration:none;
    
    text-align: center;
    margin-left: 50px;
        margin-right:50px;

    
}
@media screen and (max-width:768px){
    a{
        color:white;
        text-decoration:none;
        margin-left: 5px;
        margin-right:10px;
        
    }
    
}
hr{
    color:white;
    margin-top: 50px;
    @media screen and (max-width:768px){
        margin-top:0;
    }
}
span{
    color:white;
    justify-content: center;
    text-align: center;
}
.footer__year{
    text-align:center;
    justify-content: center;
}