a{
    color:white;
    text-decoration: none;

    text-align: center;
    @media screen and (max-width:768px){
        
    }
}
hr{
    color:white;
    margin-top: 50px;
    @media screen and (max-width:768px){
        margin-top:0;
    }
}
span{
    color:white;
    justify-content: center;
    text-align: center;
}
.footer__year{
    text-align:center;
    justify-content: center;
}