i{
    font-size:4rem;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 80px;
    
}
@media only screen and (max-width:768px){
    i{
        font-size:3rem;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        
    }

}